* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body,
html {
    font-family: 'Open Sans', sans-serif;
    background-image: url('css-imag/principal1.jpg');
    margin: 0;
    overflow: auto;
    height: 100%;
}

/*area menu*/

#menu_1 {
    padding: 9px;
    display: flex;
    justify-content: space-between;
    margin-left: 28px;
    align-items: center;
}

.menu,
.conteudo {
    background-image: url(css-imag/principal1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.span_ {
    color: #fff;
}

.span_1 {
    color: aqua;
}
.menu2 a {
    text-decoration: none;
    margin-right: 25px;
    font-weight: bolder;
    color: #43eaf0;
}

.menu2 a:link {
    color: #43eaf0;
}

.menu2 a:hover {
    background-color: rgb(52, 47, 56);
    opacity: 0.5px;
}


/*layout*/


.down {
    font-size: 20px;
    font-weight: lighter;
}

#down1 {

    margin-top: 150px;
    background-color: rgb(196, 196, 183);
    align-items: center;

}


#down1 a {
    text-decoration: none;
    color: rgb(10, 10, 10);
    background-color: #daf2f3;
    border: 1px solid #6eaab4;
}

#down1 a:hover {
    background-color: rgb(94, 102, 102);
}

#titulo {
    font-size: large;
    padding: 15px;
    font-weight: bolder;
    text-align: center;
    color: rgb(212, 221, 230);
}

.paragrafo {
    margin-top: 20px;
    font-weight: lighter;
}


/*2da parte*/

#card {
    opacity: 0.8;
    height: 550px;
    display: flex;
    justify-content: space-evenly;
    background-image: url(css-imag/frecuencia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 10px;
}

#proyect {
    border: 1px solid rgb(42, 34, 155);
    height: 0px;
    color: #e3eaeb;
}

.card_1,
.card_2,
.card_3 {
    width: 230px;
    height: 395px;
    background-color: #82c2c2;
    border-radius: 16px;
    border: 1px solid #ccc;
    margin: 10px;
    margin-top: 60px;
}

.desig {
    margin: 10px;
    text-align: center;
    color: #0c0c0c;
}

.card_1:hover,
.card_2:hover,
.card_3:hover {
    background-color: rgb(230, 226, 221);
    box-shadow: 0 1px 2px 0 rgb(0 0 0/ 90%);
    transform: scale(1.1);
}

.card__imagenes {
    width: 100%;
    border-radius: 16px 16px 0 0;
    transition: 0.4s;
    height:120px;
}


.button {
    margin-top: 9px;
    display: flex;
    justify-content: space-evenly;
}

.button a {
    text-decoration: none;
    font-size: 20px;
}


div p {
    margin-top: 8px;
    padding: 8px;
}


/*contacto*/

#contacto {
    clear: both;
    padding: 20px;
    height: 100%;
    background-image: url(css-imag/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5;
    
}

#contactoF {
    float: left;
    border: 1px solid rgb(42, 34, 155);
    height: 0px;
    text-align: center;
    color: #0d0e0e;
    margin-left: 50px;
    font-size: large;
    font-weight: bolder;
}

fieldset {
    float: right;
    padding: 30px;
    background: #f8f8f8;
    border: 1px solid #ccc;
    height: 500px;
    width: 650px;
}


#list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
}

textarea {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px 12px;
    resize: none;
}

.input[type=text] {
    padding: 10px 18px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 15px;
    width: 100%;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #04AA6D;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


label {
    padding: 5px;
    display: block;
}

footer {
    text-align: center;
    background-image: url(css-imag/geo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 50%;
    opacity: 0.5;
    
}

h3 {
    color: #efeff1;
    margin: 15px;
    padding: 10px;
    font-size: 20px;
}

.butt {
    border-radius: 10px;
    padding: 18px;
    cursor: pointer;
    margin-bottom: 30px;
    margin: 20px;
}



@media (max-width: 840px) {

    #menu_1 {
        max-width: 100%;
        max-height: 100%;
        flex-direction: row;
        padding: 16px 0;
        position: relative;

    }

    #card {
        background-color: #8d918f;
        opacity: 0.5;
        border: 1px solid #ccc;
        margin-bottom: 16px;
        height: 550px;
        clear: both;
        max-width: 100%;
        max-height: 100%;

    }


    .card_1,
    .card_2,
    .card_3 {
        width: 230px;
        margin-top: 80px;
        height: 395px;
        background-color: #82c2c2;
        border-radius: 16px;
        border: 1px solid #ccc;
        float: left;
        margin: 10px;
        margin-top: 80px;



    }
    #contacto {
        clear: both;
        padding: 1px;
        background-image: url(css-imag/fon.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        width: 100%;
        height: 100%;
        opacity: 0.5;

        
    }

    fieldset {
        float: right;
        padding: 20px;
        background: #f8f8f8;
        border: 1px solid #ccc;
        height: 500px;
        width: 100%
    }
    
}

@media (max-width: 621px) {

    #menu_1 {
        max-width: 100%;
        max-height: 100%;
        flex-direction: column;
        padding: 16px 0;
        position: relative;

    }

    .card_1,
    .card_2,
    .card_3 {
        width: 250px;
        height: 420px;
        background-color: #82c2c2;
        border-radius: 16px;
        border: 1px solid #ccc;
        float: left;
        margin: 10px;
        margin-top: 80px;
        flex-direction: column;
        position: relative;


    }

    #card {
        background-color: #8d918f;
        opacity: 0.5;
        border: 1px solid #ccc;
        margin-bottom: 16px;
        height: 550px;
        clear: both;
        max-width: 100%;
        max-height: 100%;
        
        


    }
    #proyect {
        border: 1px solid rgb(42, 34, 155);
        height: 0px;
        color: #e3eaeb;
        margin: 20px;
        
    }
    
}