*{
    padding: 0px;
    margin: 0px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/*area menu*/

#area__menu{
    width: 100%;
    height: 80px;
    background-image: url("Sobre.jpg");
    background-size: 100% 100%;
    padding: 3px;
    
    
    
    
}
.span_{
    color: #fff;
}
.span_1{
    color:aqua;
}
#span{
    margin-left: 20px;
    margin-top: 14px;
    
}

#list{
    display: flex;
    justify-content: flex-end;
    margin-top: 0px 5px;
    margin-right: 20px;
    text-align: left;
}

ul a{
    
    display: inline-block;
    text-decoration: none;
    padding: 0px 30px;
    margin-top: -26px;
    
}

a:link{
    color:#43eaf0;
}
a:visited, link :active{
    color: rgb(140, 140, 187);
}

a:hover{
    background-color: blueviolet;
}

/*layout*/

#conteudo{
    background-image: url("Pict.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 0px 12;
    margin-left: 0px;
    width: auto;
    height: 560px;
    border: 1px solid rgb(12, 12, 12);
    opacity: 0.5;
    
}

#titulo{
    font-size: large;
    margin-left: 700px; 
    margin-top: 50px; 
    padding: 15px;
    
}
.paragrafo{
    padding: 10px;
}


h1{
    padding-top: 2px;
}



/*2da parte*/

#card{
    background-color: rgb(245, 243, 239);
    margin-top: 0px;
    margin-left: 0px;
    width: auto;
    height: 550px;
    display: flex;
    justify-content: center;
    
  

}

.card_1{
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 20px;
    height: 500px;
    width: 225px;
    background-color: #b3c2c2;
    border-radius: 3px;
    box-shadow: 0 1px 2px 0 rgb(0 0 0/ 90%);
    
    
    
}
.card_1:hover{
    background-color: rgb(253, 247, 240);
    
}

.card__imagenes{
    padding-bottom: 15px;
    width: 100%;
    height: 50%;
    margin: auto;
}

h2{
    font-size: ;
}

