* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html {
    font-family: 'Lora', serif;
    background-image: url('css-imag/principal1.jpg');
    overflow: auto;
}

/*area menu*/

header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px 28px;
    align-items: center;
}

.span_ {
    color: #fff;
}

.span_1 {
    color: aqua;
}

nav a {
    text-decoration: none;
    margin-right: 25px;
    font-weight: bolder;
    color: #43eaf0;
    padding: 2px 4px;
    border-radius: 4px;
}

nav a:link {
    color: #43eaf0;
}

nav a:hover {
    background-color: rgb(52, 47, 56);
}


/*layout*/

.down {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.down a {
    color: rgb(70, 125, 133);
    background-color: #daf2f3;
}

#titulo-principal {
    font-size: large;
    padding: 15px;
    font-weight: bolder;
    text-align: center;
    color: rgb(212, 221, 230);

}

#titulo-principal p {
    margin-top: 20px;
    font-weight: lighter;
}


/*2da parte*/

#facilites {
    background-image: url(css-imag/frecuencia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 0;
}

#facilites h1 {
    font-weight: 900px;
    font-size: 34px;
    padding-bottom: 5px;
    color: #daf2f3;
}

.title {
    text-align: center;
    padding: 25px 0;
}

.card {

    border-radius: 16px;
    border: 1px solid #ccc;
    margin: 20px 20px;
    width: 18rem;
    transition: 0.3s;
}

.card:hover {
    background-color: rgb(230, 226, 221);
    box-shadow: 0 1px 2px 0 rgb(0 0 0/ 90%);
    transform: scale(1.1);
}

.card-body {
    box-shadow: 0 0 20px 7px rgba(0, 0, 0, 0.8);
}

.card-body {
    color: #0c7f90;
    text-decoration: none;
    font-size: 15px;
    margin-top: auto;
    font-weight: 600px;
    text-align: center;
    display: inline;
}

.card-img-top {
    width: 100%;
    height: 200px;
}

.card-body a:hover {
    color: #0ee2e2;

}

.btn {
    margin: 20px;
}

/*contacto*/

#contac-container {
    padding: 20px;
    background-image: url(css-imag/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.7;

}

.cont-title {
    text-align: center;
    color: #0d0e0e;
    margin-left: 50px;
    font-size: large;
    font-weight: bolder;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;

}

fieldset {
    background: #f8f8f8;
    border: 1px solid #ccc;
    height: 80%;
    width: 60%;
    border-radius: 3px;

}

textarea {

    width: 5%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
}

.formulario input {
    margin: 5px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

label {
    font-size: 20px;
  }

footer {
  background-image: url(css-imag/geo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 160px;
  padding-bottom: 20px;
}

.title-foot {
    color: #efeff1;
    margin: 10px;

}
.redes-container {
    display: flex;
    margin-left: 10px;
}


.redes {
    color: white;
    text-decoration: none;
    background-color: #0b5ed7;
    padding: 4px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    width: fit-content;
    margin-right: 10px;
}

  .iconos {
    margin-right: 8px;
  }

@media (max-width: 840px) {


    #facilites {
        background-image: url(css-imag/frecuencia.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: relative;
        flex-direction: column;
        align-items: center;

    }

    @keyframes animation-card {
        from {
            background: #95e2c6;
            border-radius: 16px;
        }

        to {
            background-color: #74d5e4;
            border-radius: 26px;
        }
    }

    .card {
        border: 1px solid #a4bac7;
        margin: 15px 15px;
        animation-name: animation-card;
        animation-duration: 4s;
        width: 100%;
    }



    fieldset {
        padding: 20px;
        background: #f8f8f8;
        border: 1px solid #ccc;
        height: 500px;
        width: 100%
    }

}

@media (max-width: 621px) {

    header {
        max-width: 100%;
        max-height: 100%;
        flex-direction: column;
        padding: 16px 0;
        position: relative;
    }


    #facilites {
        background-image: url(css-imag/frecuencia.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        position: relative;
        flex-direction: column;
        align-items: center;

    }

    @keyframes animation-card {
        from {
            background: #95e2c6;
            border-radius: 16px;
        }

        to {
            background-color: #74d5e4;
            border-radius: 26px;
        }
    }

    .card {
        border: 1px solid #7a7aaf;
        margin: 15px 15px;
        animation-name: animation-card;
        animation-duration: 4s;
        width: 17rem;
    }


}


#contac- {
    padding: 20px;
    background-image: url(css-imag/fon.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: 0.5;
}

textarea {

    width: 100%;
    height: 150px;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;

}


button .btn {
    cursor: pointer;
    flex-direction: column;

}

@media (max-width: 375px) {

    header {
        max-width: 100%;
        max-height: 100%;
        display: flex;
        justify-content: flex-start;
        padding: 16px 0;
        position: relative;
    }


    button .btn {
        cursor: pointer;
    }

    footer {
        background-image: url(css-imag/geo.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        flex-direction: column;
        height: fit-content;
    }

    .card {
        border: 1px solid #7a7aaf;
        margin: 15px 15px;
        animation-name: animation-card;
        animation-duration: 4s;
        width: 16rem;
    }

    header {
        max-width: 100%;
        max-height: 100%;
        flex-direction: column;
        position: relative;

    }
    nav {
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
    
      nav a {
        margin: 0;
      }

}